In [1]:
import pandas as pd
import numpy as np
import factor_analysis as fa
import alphalens

C:\Users\zhangyang01\AppData\Local\Continuum\anaconda2\envs\py36\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal
C:\Users\zhangyang01\AppData\Local\Continuum\anaconda2\envs\py36\lib\site-packages\empyrical\utils.py:32: UserWarning: Unable to import pandas_datareader. Suppressing import error and continuing. All data reading functionality will raise errors; but has been deprecated and will be removed in a later version.
  warnings.warn(msg)

In [2]:
factor = pd.read_excel('../data/factor_monthly.xlsx', index_col=0)

In [3]:
factor.index.set_names(['date'], inplace=True)

In [4]:
factor = factor.stack()

In [5]:
factor.index.set_names(['date', 'asset'], inplace=True)

In [7]:
factor

date        asset
2015-12-31  000016.SZ   -0.261939
            000333.SZ   -0.060024
            000404.SZ   -0.097326
            000521.SZ   -0.210959
            000541.SZ   -0.425749
                           ...
2020-06-30  600854.SH    0.042929
            600983.SH    0.536842
            603311.SH    0.380294
            603355.SH    0.406589
            603366.SH   -0.096257
Length: 2805, dtype: float64

In [8]:
prices = pd.read_excel('../data/prices_monthly.xlsx', index_col=0)

In [12]:
factor_data = fa.utils.get_clean_factor_and_forward_returns(factor, prices, periods=(1,2,3))

Dropped 0.0% entries from factor data: 0.0% in forward returns computation and 0.0% in binning phase (set max_loss=0 to see potentially suppressed Exceptions).
max_loss is 35.0%, not exceeded: OK!

In [13]:
factor_data

                            1M        2M        3M    factor  factor_quantile
date       asset
2015-12-31 000016.SZ -0.399421 -0.289436 -0.261939 -0.261939                2
           000333.SZ -0.167885 -0.205667 -0.060024 -0.060024                5
           000404.SZ -0.284492 -0.274866 -0.097326 -0.097326                5
           000521.SZ -0.275342 -0.326027 -0.210959 -0.210959                3
           000541.SZ -0.456886 -0.501198 -0.425749 -0.425749                1
...                        ...       ...       ...       ...              ...
2020-06-30 600854.SH  0.060606  0.075758  0.042929  0.042929                2
           600983.SH  0.071579  0.776842  0.536842  0.536842                5
           603311.SH  0.188418  0.179775  0.380294  0.380294                5
           603355.SH  0.074729  0.234231  0.406589  0.406589                5
           603366.SH  0.016043 -0.021390 -0.096257 -0.096257                1

[2805 rows x 5 columns]