In [1]:
import pandas as pd
import numpy as np
import factor_analysis as fa

In [12]:
factor = pd.read_excel('../data/factor.xlsx', index_col=0)

In [13]:
factor.index.set_names(['date'], inplace=True)

In [14]:
factor = factor.stack()

In [15]:
factor = pd.DataFrame(factor)

In [16]:
factor.index.set_names(['date', 'asset'], inplace=True)

In [17]:
factor.columns = ['factor']

In [18]:
factor

                        factor
date       asset
2009-12-31 000016.SZ    3.9358
           000404.SZ   17.8215
           000521.SZ   25.2613
           000541.SZ    8.0648
           000651.SZ   33.6597
...                        ...
2020-09-30 600651.SH  107.6888
           600690.SH   12.8154
           600839.SH   -1.0119
           600854.SH    2.6594
           600983.SH   -3.0961

[990 rows x 1 columns]

In [19]:
prices = pd.read_excel('../data/prices.xlsx', index_col=0)

In [20]:
prices.shape[0]

44

In [21]:
fa.utils.compute_forward_returns(factor, prices, periods=(1,2))

                            1Q        2Q
date       asset
2009-12-31 000016.SZ  0.029909 -0.381014
           000404.SZ  0.217494  0.228132
           000521.SZ -0.133283 -0.334349
           000541.SZ  0.236766  0.143407
           000651.SZ -0.025570 -0.350380
...                        ...       ...
2020-09-30 600651.SH       NaN       NaN
           600690.SH       NaN       NaN
           600839.SH       NaN       NaN
           600854.SH       NaN       NaN
           600983.SH       NaN       NaN

[990 rows x 2 columns]